[submodule "sources/openembedded-core"]
	path = sources/openembedded-core
	url = git://git.openembedded.org/openembedded-core
	branch = scarthgap
[submodule "sources/bitbake"]
	path = sources/bitbake
	url = git://git.openembedded.org/bitbake
	branch = 2.8
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = scarthgap
[submodule "sources/meta-yocto"]
	path = sources/meta-yocto
	url = https://git.yoctoproject.org/git/meta-yocto
	branch = scarthgap
[submodule "sources/meta-arm"]
	path = sources/meta-arm
	url = git://git.yoctoproject.org/meta-arm
	branch = scarthgap
[submodule "sources/meta-freescale"]
	path = sources/meta-freescale
	url = git://git.yoctoproject.org/meta-freescale
	branch = scarthgap
[submodule "sources/meta-freescale-3rdparty"]
	path = sources/meta-freescale-3rdparty
	url = https://github.com/Freescale/meta-freescale-3rdparty.git
	branch = scarthgap
[submodule "sources/meta-freescale-distro"]
	path = sources/meta-freescale-distro
	url = https://github.com/Freescale/meta-freescale-distro.git
	branch = scarthgap
[submodule "sources/meta-imx"]
	path = sources/meta-imx
	url = https://github.com/nxp-imx/meta-imx.git
	branch = scarthgap-6.6.23-2.0.0
