[submodule "sources/openembedded-core"]
	path = sources/openembedded-core
	url = git://git.openembedded.org/openembedded-core
	branch = scarthgap
[submodule "sources/bitbake"]
	path = sources/bitbake
	url = git://git.openembedded.org/bitbake
	branch = 2.8
